<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="gb2312" %>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>无标题文档</title>
</head>
<body>
<br>
<table width="760" border="0" align="center">
  <tr>
    <td height="262" align="left" valign="top" background="../bg_1.jpg"> <table width="75%" border="0" align="center">
        <tr> 
          <td height="49" colspan="10"><div align="left"> 
              <table width="100%" border="0">
                <tr> 
                  <td width="27%"><img src="../images/mylogo.gif" width="239" height="70"></td>
                  <td width="73%"><font color="#2F97FF" size="7">江苏省扬州经济开发区</font></td>
                </tr>
              </table>
            </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td width="10%" height="55" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BASE" value=".">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button2.swf">
                <param name="quality" value="high">
                <embed src="button2.swf" width="70" height="24" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" base="." bgcolor="" ></embed> 
              </object>
              </font></div></td>
          <td width="10%" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button3.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button3.swf" width="70" height="24" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" bgcolor="" ></embed> 
              </object>
              </font></div></td>
          <td width="10%" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF"><a href="wuliu.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button4.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button4.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF"><a href="jichusheshi.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button5.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button5.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF"><a href="youhuizhengce.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="BASE" value=".">
                <param name="movie" value="button6.swf">
                <param name="quality" value="high">
                <embed src="button6.swf" width="70" height="24" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" base="." ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF"><a href="renliziyuan.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button7.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button7.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF"><a href="renjuhuanjing.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button8.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button8.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF">
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button9.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button9.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </font></div></td>
          <td width="10%" background="../bg_1.jpg"> 
            <div align="left"><font color="#FFFFFF"><a href="fangkeliuyan.aspx"> 
              </a></font></div>
            <div align="left"><font color="#FFFFFF"><a href="fangkeliuyan.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BASE" value=".">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button10.swf">
                <param name="quality" value="high">
                <embed src="button10.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a><a href="fangkeliuyan.aspx"> </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"><font color="#FFFFFF"><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> 
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
              <param name="BGCOLOR" value="">
              <param name="movie" value="button11.swf">
              <param name="quality" value="high">
              <param name="base" value=".">
              <embed src="button11.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
            </object>
            </a> </font></td>
        </tr>
      </table>
      <p><br>
        <font color="#FFFFFF"><a href="fangkeliuyan.aspx"> </a></font> </p>
      <table width="100%" border="0" align="center">
        <tr> 
          <td width="15%" height="491" align="left" valign="top"> <div align="left"> 
              <table width="100%" border="0">
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"> 
                    <div align="left"><strong><font color="FF6633">地理位置</font></strong></div></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td rowspan="2" background="../bg_1.jpg" bgcolor="#FFFFFF"><strong><font color="FF6633">人文历史</font></strong><strong></strong></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><strong><font color="FF6633">经济状况</font></strong></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><strong><font color="FF6633">市场容量</font></strong></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><strong><font color="FF6633">外商投资</font></strong></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><font color="FF6633"><strong> 
                    </strong></font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><font color="FF6633">&nbsp;</font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><font color="FF6633">&nbsp;</font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><font color="FF6633">&nbsp;</font></td>
                </tr>
                <tr> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
              </table>
            </div></td>
          <td width="65%" align="left" valign="top" background="../bg_1.jpg"> 
            <div align="left"> 
              <table width="100%" border="0" background="../bg_1.jpg">
                <tr> 
                  <td height="26" background="../bg_1.jpg">
<div align="left"><font color="#FF0000" size="6" face="华文新魏">把扬州建设成为古代文化于现代文明交相辉映的名城——江泽民</font></div></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"> 
                    <div align="left">
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                    </div></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><strong><font color="FF6633">地理位置</font></strong></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">扬州地处江苏省中部<font face="新宋体">，南临长</font>江，北接淮水，中贯京杭大运河。是长江三角洲一颗璀璨的明珠，一座融入上海经济圈、南京都市圈、连接苏南经济圈的滨江近海的新兴工商城市。</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><strong><font color="FF6633">人文历史</font></strong><strong></strong></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">扬州市下辖广陵区、郊区、邗江三区和江都、高邮、宝应、仪征四县（市），地域面积6638平方公里，452万人口。其中市区面积973平方公里，人口110万。<font color="FF6633">&nbsp;</font> 
                    <p align="left">扬州是一座文化古城。至今已有近2500年历史，是中国首批命名的24座历史文化名城之一。</p>
                    <p align="left"> 据史书记载,在中国历史上扬州分别在汉朝、唐朝和清朝三度成为中国著名的商业城市。 特别在150年前，扬州已成为世界十大城市之一。</p>
                    <p align="left">扬州人杰地灵，在中国历史上多少文人雅士留下了赞美扬州的诗词佳句。宋朝著名文学家欧阳修、苏东坡曾经做过扬州太守，写下流芳百世的文章；清朝“扬州八怪”的画别具一格，名扬天下；中国新文学运动的先驱者之一，著名爱国文学家、教育家朱自清先生更是扬州人的骄傲。</p></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><strong><font color="FF6633">经济状况</font></strong></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">扬州是长江以北广大地域的重要门户，市场兴旺、流通业发达，是承南启北的重要的货物和信息集散地，2002年GDP为559亿元。<br>
                    扬州经济主要以下列产业为主导：</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"> 
                    <table width="100%" border="0">
                      <tr> 
                        <td width="54%">化纤与纺织制造业</td>
                      </tr>
                      <tr> 
                        <td>精细化工制造业</td>
                      </tr>
                      <tr> 
                        <td>车船制造业</td>
                      </tr>
                      <tr> 
                        <td>电子及元器件制造业</td>
                      </tr>
                      <tr> 
                        <td>光纤、光缆、电缆制造业</td>
                      </tr>
                      <tr> 
                        <td>特色农业</td>
                      </tr>
                    </table></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><strong><font color="FF6633">市场容量</font></strong></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg">
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">扬州坐落于中国经济龙头地带<strong><font color="#000000">——</font></strong><font color="#000000">长江三角洲中部<strong>，</strong>该区域是中国经济最发达的地区和经济中心<strong>，</strong>GDP占全国1/4，市场份额占中国大陆1/4</font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg">
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg">
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF"><font color="FF6633"><strong>外商投资</strong></font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg">
                  <td background="../bg_1.jpg" bgcolor="#FFFFFF">优越的市场位置和优良的区域经济环境，使得扬州正逐步成为长江三角洲地区继上海等地后，又一个外商投资的热点。</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg">
                  <td background="../bg_1.jpg">相继落户扬州的世界知名公司有：<br>
                    ▲德国奔驰（Mercedes-Benz)；<br>
                    ▲美国通用电气(GE)；<br>
                    ▲德州仪器(TI)；<br>
                    ▲阿莫科(Amoco)；<br>
                    ▲高露洁(Colgate)；<br>
                    ▲日本保来得（Porite)；<br>
                    ▲台湾永丰余(YUEN FOONG YU)；<br>
                    ▲台湾宝成（DELCAM）等</td>
                </tr>
              </table>
            </div></td>
          <td width="20%" align="left" valign="top"><div align="left">
              <table width="100%" border="0">
                <tr> 
                  <td height="125" align="center"><img src="../images/xionghua.png" width="150" height="95"></td>
                </tr>
                <tr> 
                  <td height="114" align="center">&nbsp;</td>
                </tr>
                <tr> 
                  <td><div align="center"><img src="../images/diliweizhi1.gif" width="150" height="95"><br>
                      <a href="weizitu.aspx">点击放大</a> </div></td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
        </tr>
      </table> 
      <p align="center">Copyright 2001 - 2002 Yangzhou E.T.D.Z. All Rights Reserved 
        <br>
        <br>
        版权所有：扬州经济开发区招商局<br>
        <br>
        联系电话：0514－7962241 传真：0514－7862892 Email:yz.gwh@public.yz.js.cn<br>
        <br>
        <br>
      </p></td>
  </tr>
</table>
</body>
</html>
