<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="gb2312" %>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>无标题文档</title>
</head>
<body>
<br>
<table width="760" border="0" align="center">
  <tr>
    <td height="262" align="left" valign="top" background="../bg_1.jpg"> <table width="100%" border="0" align="center">
        <tr> 
          <td height="49" colspan="10"><div align="left"> 
              <table width="100%" border="0">
                <tr> 
                  <td width="27%"><img src="../images/mylogo.gif" width="239" height="70"></td>
                  <td width="73%"><font color="#2F97FF" size="7">江苏省扬州经济开发区</font></td>
                </tr>
              </table>
            </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td width="10%" height="55" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BASE" value=".">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button2.swf">
                <param name="quality" value="high">
                <embed src="button2.swf" width="70" height="24" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" base="." bgcolor="" ></embed> 
              </object>
              </font></div></td>
          <td width="10%" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button3.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button3.swf" width="70" height="24" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" bgcolor="" ></embed> 
              </object>
              </font></div></td>
          <td width="10%" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"><a href="wuliu.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button4.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button4.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"><a href="jichusheshi.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button5.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button5.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"><a href="youhuizhengce.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="BASE" value=".">
                <param name="movie" value="button6.swf">
                <param name="quality" value="high">
                <embed src="button6.swf" width="70" height="24" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" base="." ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"><a href="renliziyuan.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button7.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button7.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"><a href="renjuhuanjing.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button8.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button8.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button9.swf">
                <param name="quality" value="high">
                <param name="base" value=".">
                <embed src="button9.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </font></div></td>
          <td width="10%" background="../bg_1.jpg"> <div align="left"><font color="#FFFFFF"><a href="fangkeliuyan.aspx"> 
              </a></font></div>
            <div align="left"><font color="#FFFFFF"><a href="fangkeliuyan.aspx"> 
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
                <param name="BASE" value=".">
                <param name="BGCOLOR" value="">
                <param name="movie" value="button10.swf">
                <param name="quality" value="high">
                <embed src="button10.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
              </object>
              </a><a href="fangkeliuyan.aspx"> </a></font></div></td>
          <td width="10%" background="../bg_1.jpg"><font color="#FFFFFF"><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> </a><a href="fangkeliuyan.aspx"> 
            </a><a href="fangkeliuyan.aspx"> 
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="70" height="24">
              <param name="BGCOLOR" value="">
              <param name="movie" value="button11.swf">
              <param name="quality" value="high">
              <param name="base" value=".">
              <embed src="button11.swf" base="."  quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="70" height="24" ></embed> 
            </object>
            </a> </font></td>
        </tr>
      </table>
      <table width="100%" border="0" align="center">
        <tr> 
          <td width="18%" height="491" align="left" valign="top"> <div align="left"> 
              <table width="100%" border="0">
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td height="25" background="../bg_1.jpg"> 
                    <div align="left"><font color="FF6633"><strong><a href="yuanqujianjie.htm#1">区域位置</a></strong></font></div></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg"><font color="FF6633"><strong><a href="yuanqujianjie.htm#2">功能分区</a></strong></font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">
<div align="left"><font color="FF6633"><strong><a href="yuanqujianjie.htm#3">重点发展行业</a></strong></font></div>
                    <div align="left"></div></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg"><font color="FF6633">&nbsp;</font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg"><font color="FF6633">&nbsp;</font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg"><font color="FF6633">&nbsp;</font></td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
          <td width="61%" align="left" valign="top"> <div align="left"> 
              <table width="99%" border="0">
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg"><font color="FF6633"><strong>区域位置<a name="1"></a></strong></font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">扬州经济开发区位于市区西南，规划面积72平方公里。东靠京杭大运河，南临国家一类岸扬州港，西接润扬长江大桥北接线，北依老城区，南京至南通的高速公路、沿江高等级公路贯穿东西，对外交通十分便捷。区内已实现了“六通一平”， 
                    基础设施完善。</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg"><font color="FF6633"><strong>功能分区<a name="2"></a></strong></font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">开发区内设有四个专业园区:<br>
                    高新技术工业园（也称电子信息工业园，16平方公里）<br>
                    汽车工业园（2平方公里）<br>
                    纺织工业园（4.8平方公里）<br>
                    化工工业园（16.8平方公里）</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg"><font color="FF6633"><strong>重点发展行业<a name="3"></a></strong></font></td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">开发区主要发展汽车、机械、电子、纺织和化工工业项目，重点引进：</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">汽车及零部件；</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">电子通讯及液晶显示器件；</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">纺织及服装；</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">精细化工；</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">机械加工。</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td background="../bg_1.jpg">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF" background="../bg_1.jpg"> 
                  <td height="49" background="../bg_1.jpg">&nbsp;</td>
                </tr>
              </table>
            </div></td>
          <td width="21%" align="left" valign="top"><div align="left">
              <table width="100%" border="0">
                <tr> 
                  <td height="69" align="center">&nbsp;</td>
                </tr>
                <tr> 
                  <td height="204" align="center" valign="top"><img src="../images/kfq.gif" width="150" height="148"><br>
                    <a href="kaifaqu.aspx">点击放大</a> </td>
                </tr>
                <tr> 
                  <td height="119">&nbsp;</td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
        </tr>
      </table> 
      <p align="center">Copyright 2001 - 2002 Yangzhou E.T.D.Z. All Rights Reserved 
        <br>
        <br>
        版权所有：扬州经济开发区招商局<br>
        <br>
        联系电话：0514－7962241 传真：0514－7862892 Email:yz.gwh@public.yz.js.cn<br>
        <br>
        <br>
      </p></td>
  </tr>
</table>
</body>
</html>
