BODY
{
	FONT-FAMILY: "ו";
	FONT-SIZE: 9pt;
	color: #005700;
	text-decoration: none;

}
TD
{
	FONT-FAMILY: "ו";
	FONT-SIZE: 9pt;
	color: #005700;

}
Input
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;

}
Button
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px; 
}
Select
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;

}
A
{
	COLOR: #005700;
	TEXT-DECORATION: none
}
A:hover
{
	COLOR: #FF00FF;
	TEXT-DECORATION: none
}
.title
{
	background:url(../Images/topBar_bg.gif);
}
.border
{
	border: 1px solid #DCF2C1;


}
.tdbg{
	background:#F5FEED;
}
